
.register
{
    padding: auto;
    border: white;
    background-color: white;
    margin-top: 13%;
    margin-bottom: 20%;
    margin: auto;
    width: 30%;
    border-radius: 2%;
    font-style: oblique;
}
.box {
    padding: auto;
    border: white ;
    background-color: white;
    margin-top: 13%;
    margin-bottom: 20%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border-radius: 2%;
    font-style: oblique;
  }
  
    
    
 